@font-face {
    font-family: "Couture";
    src: url(../assets/couture/couture-bld.otf)
}

body {
    background-image: url("images/198689-texture-abstract-blue-748x499_larger.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.nav-link {
    font-family: "Couture";
}

.content-header {
    font-family: "Couture";
}

.main-header {
    font-family: "Couture";
    color: white;
    background-size: cover;
    font-size: 70px;
    padding-top: 100px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
} 

.navbar-brand {
    font-family: "Couture";
}

#type {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    font-size: 110px;
    color: white;
}

.fab {
    color: white;
    padding: 125px 100px 75px 100px;
}

.footer {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    color: black;
}

.alpha-bg {
    background-color: rgba(255, 255, 255, 0.4);
    display: block;
    margin-bottom: 25px;
}

.about-content {
    padding-top: 50px;
    padding-bottom: 50px;
}

.about-text {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}

.portfolio {
    margin-bottom: 20px;
}

.portfolio-title {
    font-family: "Couture";
    font-size: 16px;
    color: black;
}

.portfolio-text {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}

.portfolio-content {
    text-align: center;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}

.portfolio-header {
    font-family: "Couture";
}

.portfolio-alpha {
    background-color: rgba(255, 255, 255, 0.4);
    display: flex;
    flex-flow: row wrap;
    /* flex-flow: column wrap; */
    justify-content: space-around;
    /* justify-content: center;
    align-items or allign-content: space around or center; */
    margin-bottom: 25px;
    width: 100%;
    padding: 25px 0px 25px 0px;
}

.contact-content {
    text-align: center;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}

@media only screen and (max-width: 993px) {
    .portfolio-alpha {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-content: space-around;
    }

    #type {
        font-size: 70px;
    }

    .main-header {
        font-size: 40px;
    }
  }

  @media only screen and (max-width: 401px) {
    .portfolio-alpha {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-content: space-around;
    }

    #type {
        font-size: 60px;
    }

    .main-header {
        font-size: 30px;
    }
  }